<header>
    <div class="container_12">
        <div class="grid_12">
            <h1>
                <a href="/">
                    <img src="images/logo.png" alt="Your Happy Family">
                </a>
            </h1>
            <div class="menu_block ">
                <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                    <ul class="sf-menu">
                        <li <% if (page==1) { %>class="current" <% } %>><a href="/">Home</a></li>
                        <li <% if (page==2) { %>class="current" <% } %>><a href="product">Product</a></li>
                        <li <% if (page==3) { %>class="current" <% } %>><a href="about">News</a></li>
                        <li <% if (page==4) { %>class="current" <% } %>><a href="contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</header>