<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    <link rel="icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/camera.css">
    <link rel="stylesheet"  href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
    <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.2.1.js"></script>
     <script src="js/script.js"></script> 
     <script src="js/superfish.js"></script>
     <script src="js/jquery.ui.totop.js"></script>
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.mobilemenu.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/jquery.tooltipster.js"></script>
     <script src="js/camera.js"></script>
     <!--[if (gt IE 9)|!(IE)]><!-->
     <script src="js/jquery.mobile.customized.min.js"></script>
     <!--<![endif]-->
    <script src="js/modernizr.custom.js"></script>
     <script>
       $(document).ready(function(){
        jQuery('#camera_wrap').camera({
            loader: 'pie',
            pagination: true ,
            minHeight: '200',
            thumbnails: true,
            height: '40.85106382978723%',
            caption: true,
            navigation: true,
            fx: 'mosaic'
          });
        $().UItoTop({ easingType: 'easeOutQuart' });
               $('.tooltip').tooltipster();

        });
     </script>

    <!--[if lt IE 9]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">


    <![endif]-->
     </head>
<body class="page1" id="top">

<!--==============================header=================================-->
<% include module/head.ejs %>

<div class="container_12">
  <div class="grid_12">
    <div class="slider_wrapper ">
       <div class="camera_wrap" id="camera_wrap">
            <div data-thumb="images/thumb.png" data-src="images/slide.jpg">
                <div class="caption fadeFromBottom">
                    纯色仿棉麻亚麻沙发布料系列
                </div>
            </div>
            <div data-thumb="images/thumb1.jpg" data-src="images/slide1.jpg">
                <div class="caption fadeFromBottom">
                    纯棉围巾系列
                </div>
            </div>
            <div data-thumb="images/thumb2.png" data-src="images/slide2.jpg">
                <div class="caption fadeFromBottom">
                    羊绒围巾系列
                </div>
            </div>
            <div data-thumb="images/thumb3.png" data-src="images/slide3.jpg">
                <div class="caption fadeFromBottom">
                    丝绸围巾系列
                </div>
            </div>           
        </div>
    </div>
  </div>
</div>
<!--==============================Content=================================-->

  <!-- div class="container_12">
    <div class="grid_12 center">
      <h3>Featured Works</h3>
      <section class="tt-grid-wrapper">
        <ul class="tt-grid tt-effect-stackback tt-effect-delay">

          <li><a href="#"><img src="images/feat1.jpg" alt="img01"></a></li>
          <li><a href="#"><img src="images/feat2.jpg" alt="img02"></a></li>
          <li><a href="#"><img src="images/feat3.jpg" alt="img03"></a></li>
          <li><a href="#"><img src="images/feat4.jpg" alt="img04"></a></li>
          <li><a href="#"><img src="images/feat5.jpg" alt="img05"></a></li>
          <li><a href="#"><img src="images/feat6.jpg" alt="img06"></a></li>
        </ul>
        <nav>
          <a class="tt-current"></a><a></a><a></a><a></a>
        </nav>
      </section>
      <div class="clear"></div>
      <div class="alright">
      <a href="#" class="btn">More</a>
      </div>
    </div>
  </div-->
  <div class="container_13">
    <div class="grid_13">
        <p class="txt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;桐乡市桐锦天进出口有限公司位于经济繁荣的长三角核心地带：浙江省桐乡市。公司所处地理位置环境优越，交通方便，东距上海150公里，西临杭州45公里，到萧山国际机场仅需40分钟车程，故是国内外客户来访洽谈业务的便利之地。</p>
        <p class="txt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司秉承“以人为本，科学管理，同心同德，共创辉煌”的管理理念以及“诚信，合作，共赢”的经营理念，坚持“专心、专注、专业”的工作思路，独创“差异化、个性花、特色化”的开发思路，确立了“成为中国纺织品行业优秀供应商”的奋斗目标。</p>
        <p class="txt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司主营沙发布、围巾和蚕丝被三大系列产品，并与全国各大院校，科研院所，原料供应商，染整设计和服装厂商开展了广泛的合作，努力在产品上不断的创新求变，以适应市场变化的需求，谋求更大更宽广的产业发展空间。</p>
        <p class="txt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司产品远销欧美、日韩、东南亚和中东等地区。产品质量深受国内外好评！</p>
    </div>
  </div>

<!--==============================footer=================================-->
<% include module/foot.ejs %>

<script src="js/classie.js"></script>
<script src="js/thumbnailGridEffects.js"></script>
</body>
</html>

